page{
    height: 100%;
}
.cates{
    height: 100%;
    SearchInput{}
    .catesContainer{
        // less中使用 calc 时要注意，不需要转译加 ~'' 包起来即可
        // 减号两边要加空格，不然会有莫名其妙的错误！！！！！！！！！
        height: ~'calc(100vh - 90rpx)';
        display: flex;
        .left_menu{
            flex: 2;
            .menu_item{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80rpx;
                font-size: 30rpx;
            }
        }
        .right_menu{
            flex: 5;
            .goods_group{
                // display: flex;
                .goods_title{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 80rpx;
                }
                .goods_list{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    height: 180rpx;
                    width: 180rpx;
                }
            }
        }
    }
}